<p id="notice"><%= notice %></p>

<h1>Listando a los curriculums</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Contrasena</th>
      <th>Correo</th>
      <th>Edad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @curriculums.each do |curriculum| %>
      
    <% end %>
  </tbody>
</table>

<br>

