<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<meta name="Keywords" content="Cursos, diplomados, talleres, seminarios, F&iacute;sica, Matem&aacute;ticas, Biolog&iacute;a, Actuar&iacute;a, Ciencias de la Computaci&oacute;n, educaci&oacute;n continua, educaci&oacute;n abierta, actualizaci&oacute;n, especializaci&oacute;n" /><meta name="description" content="Cursos de profundizaci&oacute;n de conocimientos en temas de F&iacute;sica, Matem&aacute;ticas, Biolog&iacute;a, Actuar&iacute;a y Ciencias de la Computaci&oacute;n para egresados de estas carreras y afines, empresas y p&uacute;blico interesado" /><link rel="shortcut icon" href="/SiteNuevo/imgs/sria/iconitito_sria.png" /><title> Secretar&iacute;a de Educaci&oacute;n Abierta y Continua, Facultad de Ciencias-UNAM </title>
<link href="http://www.educontinua.fciencias.unam.mx/SiteNuevo/estilos-internas.css" rel="stylesheet" type="text/css" title="normal"/>
<link href="http://www.educontinua.fciencias.unam.mx/SiteNuevo/nav-v.css" rel="stylesheet" type="text/css" />



<!-- Google Analytics: -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22109027-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- finaliza Google Analytics -->




</head>
<body>
<script type="text/javascript" src="http://www.educontinua.fciencias.unam.mx/SiteNuevo/tamtexto.js"></script>
<script type="text/javascript" src="http://www.educontinua.fciencias.unam.mx/SiteNuevo/nav-v.js"></script>
<script type="text/javascript" src="http://www.educontinua.fciencias.unam.mx/SiteNuevo/mootools.js"></script>
<script type="text/javascript" src="http://www.educontinua.fciencias.unam.mx/SiteNuevo/interna.js"></script>



<!-- inicia contenedor que centra la página -->
<div class="contenedor">
   
   
<div class="encabezado">
<img src="http://www.educontinua.fciencias.unam.mx/SiteNuevo/imgs/Encabezado.gif" border="0" usemap="#map1" /><img src="http://www.educontinua.fciencias.unam.mx/SiteNuevo/imgs/stock/rotate.php" width="137" height="103" />
<map name="map1" id="map1">
  <area shape="rect" coords="10,10,330,95" href="http://www.unam.mx" target="_blank" alt="Universidad Nacional Aut&oacute;noma de M&eacute;xico" title="Universidad Nacional Aut&oacute;noma de M&eacute;xico" />
  <area shape="rect" coords="450,10,520,95" href="http://www.fciencias.unam.mx" target="_blank" alt="Facultad de Ciencias" title="Facultad de Ciencias" />
  <area shape="rect" coords="560,10,660,95" href="http://www.educontinua.fciencias.unam.mx" alt="Secretaría de Educación Abierta y Continua" title="Secretaría de Educación Abierta y Continua" />
</map>
</div>

<div class="navegacion">

  <div class="navegacion-inicio">
    <a href="http://www.educontinua.fciencias.unam.mx"><img src="http://www.educontinua.fciencias.unam.mx/SiteNuevo/imgs/house.gif" alt="Ir a página principal" title="Ir a página principal" width="16" height="16" border="0"/></a>
  </div>  <!-- navegacion-inicio -->
  <div class="navegacion-fecha">
  28 de septiembre del 2015
  </div>  <!-- navegacion-fecha -->
  <div class="navegacion-mapa">
    <img src="http://www.educontinua.fciencias.unam.mx/SiteNuevo/imgs/sitemap_color.gif" alt="Sitemap" width="16" height="16" align="left" /> <a href="http://www.educontinua.fciencias.unam.mx/SiteNuevo/ExtrasParaSitio/MapaSitio.php"> Mapa de sitio</a> 
    <!-- FALTANTE:  <img src="/SiteNuevo/imgs/help.gif" alt="Ayuda" title="Ayuda" width="16" height="16" /> <a href="#">Preguntas frecuentes </a> --> 
    <img src="http://www.educontinua.fciencias.unam.mx/SiteNuevo/imgs/email.gif" alt="Cont&aacute;ctanos por e-mail" title="Cont&aacute;ctanos por e-mail" width="16" height="13" /> <a href="/SiteNuevo/InfSria/Contacto.php"> Contacto</a>
    <img src="http://www.educontinua.fciencias.unam.mx/SiteNuevo/imgs/directorio.gif" alt="Directorio UNAM" title="Directorio UNAM" height="13" /><a href="http://www.directorio.unam.mx/consultasvarias.htm" target="_blank">Directorio UNAM</a>
    <!-- FALTANTE:  <img src="/SiteNuevo/imgs/PGaleria.gif" alt="Galeria" title="Galeria" height="16" /><a href="#">Galeria</a> --> 

<a href="http://www.facebook.com/pages/Secretar%C3%ADa-de-Educaci%C3%B3n-Abierta-y-Continua-Facultad-de-Ciencias-UNAM/235107033198636" target="_blank"><img src="/SiteNuevo/imgs/OtrosLogos/Facebook_duo.jpg" alt="P&aacute;gina en Facebook de la Secretar&iacute;a de Educaci&oacute;n Abierta y Continua, Facultad de Ciencias, UNAM" title="P&aacute;gina en Facebook de la Secretar&iacute;a de Educaci&oacute;n Abierta y Continua, Facultad de Ciencias, UNAM" height="16" border="0" /></a>


  </div>  <!-- navegacion-mapa -->
  <div class="navegacion-buscador">
    <form action="http://www.educontinua.fciencias.unam.mx/SiteNuevo/ExtrasParaSitio/buscador.php" id="cse-search-box">
    <div>
      <input type="hidden" name="cx" value="006371851687845894084:jg_j36h6yuy" />
      <input type="hidden" name="cof" value="FORID:10" />
      <input type="hidden" name="ie" value="UTF-8" />
      <input type="text" name="q" size="16" />
      <input type="submit" name="sa" value="Buscar" />
    </div>
    </form>
    <script type="text/javascript" src="//www.google.com/cse/brand?form=cse-search-box&lang=es"></script>
  </div>  <!-- navegacion-buscador -->

</div>  <!-- navegacion -->
   <!-- inicia contenido -->
   <div class="contenido">
      
  <div class="topinterna"><img src="/SiteNuevo/imgs/titulo-sria.jpg" alt="Secretaría de Educación Abierta y Continua, Facultad de Ciencias-UNAM" title="Secretaría de Educación Abierta y Continua, Facultad de Ciencias-UNAM" width="980" height="61" border="0" usemap="#Map2" />
<map name="Map2" id="Map2">
  <area shape="rect" coords="50,20,600,51" href="http://www.educontinua.fciencias.unam.mx" alt="Secretaría de Educación Abierta y Continua, Facultad de Ciencias-UNAM" title="Secretaría de Educación Abierta y Continua, Facultad de Ciencias-UNAM" />
  <area shape="rect" coords="700,20,930,51" href="http://www.fciencias.unam.mx" target="_blank" alt="Facultad de Ciencias" title="Facultad de Ciencias" />
</map></div>
      <div class="menu-interna">
         <ul id="navmenu-v">
         

 <!-- FALTANTE:
  <li><a href="#"><h2>Oferta Acad&eacute;mica</h2></a>
  <ul>  
      <li><a href="/SiteNuevo/prueba.html">Cat&aacute;logo completo</a> </li> 
      <li><a href="#">&iquest;No encuentras el que necesitas? proponlo</a></li> 
      <li><a href="#">Registro como interesado</a></li> 

      <li><a href="#">Alumnos</a>
  <ul>
       <li><a href="#">Reglamento</a></li>  
       <li><a href="#">Evaluaci&oacute;n de cursos</a></li>  
  </ul>
       </li>
       <li><a href="#">A profesores que deseen proponer cursos</a>
       <ul>
           <li><a href="#">Lineamientos</a></li>  
           <li><a href="#">Solicitud</a> </li> 
       </ul>
       </li>
  </ul>
  </li>


  <li><a href="#"><h2>Alumnos</h2></a>
  <ul> 
      <li><a href="#">Evaluaci&oacute;n de cursos</a></li> 
  </ul>
  </li>


  <li><a href="#"><h2>Propuesta de curso (profesores)</h2></a>
  <ul> 
      <li><a href="#">Lineamientos</a></li> 
      <li><a href="#">Solicitud</a></li> 
  </ul>
  </li>
 --> 
 
 
 
 
 
  <li><a href="http://www.educontinua.fciencias.unam.mx/SiteNuevo/ExtrasParaSitio/ProxCursos.php"><h2>Pr&oacute;ximos Cursos</h2></a></li>
  <li><a href="http://www.educontinua.fciencias.unam.mx/SiteNuevo/ExtrasParaSitio/ActividadesenCurso.php"><h2>Actividades en curso</h2></a></li>
  <li><a href="http://www.educontinua.fciencias.unam.mx/SiteNuevo/InfSria/CatalogoCursos.php"><h2>Cat&aacute;logo de cursos</h2></a></li>
  
  
  <li><a href="http://www.educontinua.fciencias.unam.mx/SiteNuevo/InfSria/FormasdePago.php"><h2>Formas de Pago</h2></a></li>
  
  
  <li><a href="http://www.educontinua.fciencias.unam.mx/SiteNuevo/InfSria/InstructivoInscr.php"><h2>Instructivo de inscripci&oacute;n</h2></a></li>

  <li><a href="http://www.educontinua.fciencias.unam.mx/SiteNuevo/InfSria/ImpartirCursos.php"><h2>Formatos de solicitud para impartir cursos o diplomados</h2></a></li>

 <!-- FALTANTE:
  <li><a href="#"><h2>Registro de interesados a cursos</h2></a></li>
 --> 


  <li><a href="#"><h2>Acerca de la Secretar&iacute;a</h2></a>
  <ul> 
      <li><a href="http://www.educontinua.fciencias.unam.mx/SiteNuevo/InfSria/Presentacion.php">Presentaci&oacute;n</a></li>  
      <li><a href="http://www.educontinua.fciencias.unam.mx/SiteNuevo/InfSria/Reglamento.php">Reglamento</a></li> 
      <li><a href="http://www.educontinua.fciencias.unam.mx/SiteNuevo/InfSria/ubicacion.php">Ubicaci&oacute;n</a></li> 
      <li><a href="http://www.educontinua.fciencias.unam.mx/SiteNuevo/InfSria/Contacto.php">Contacto</a></li> 
  </ul>
  </li>

         </ul>
         
 <!-- FALTANTE: 
 <ul>
   <li><br /><a href="#"><span class="segundatopinterna">Si no encontraste el curso que necesitas, puedes sugerirlo</span></a> 
 </ul>
  --> 
  

 <ul>
   <li><br /><a href="http://ave.fciencias.unam.mx" target="_blank"><span class="topinterna">
   Ingreso a AVE Ciencias </span></a> </li> 

   <li><a href="http://www.educontinua.fciencias.unam.mx/SiteNuevo/InfSria/NuevoFormatoInteresados/IngresoContinua.php"><span class="segundatopinterna">
   &iquest;Te interesa alg&uacute;n curso? Reg&iacute;strate </span></a> <br /> </li>

   <li><br /><a href="http://www.educontinua.fciencias.unam.mx/SiteNuevo/InfSria/AvisoPriv.php" target="_blank"><span class="segundatopinterna">
   Aviso de privacidad </span></a> </li> 
 </ul>

 
         </ul>
      </div>  <!-- class menu-interna -->
      <div class="info-estudiantes">
         <div class="info-contenido" id="contenido">
            <div class="noticias">
               <div id="tamano">
                  <a href="javascript:;" onclick="interna.cambiarTamanioLetra('normal');" title="Texto normal">
                  <img src="http://www.educontinua.fciencias.unam.mx/SiteNuevo/imgs/letra2.gif" border="0" height="21" width="20">       </a>
                  <a href="javascript:;" onclick="interna.cambiarTamanioLetra('grande');" title="Texto más grande">
                  <img src="http://www.educontinua.fciencias.unam.mx/SiteNuevo/imgs/letra3.gif" border="0" height="21" width="20">       </a>
               </div>  <!-- id tamano -->
               <p> </p>

<!-- ********************************   Contenido a cambiar    ***************************** -->
               <div class="info-contenido" id="contenido-central"> 
                  <div class="info-contenido_central">       
                  <%= yield %>                   


                 

<h4></h4>

<h3>Ligas de inter&eacute;s:</h3>

<table cellpadding="3" cellspacing="2" border="0" align="center" valign="middle" bgcolor="#FFFFFF" 
style="background-color: #FFFFFF; border-color: #FFFFFF; color: #448EA6; float: left; font-family: arial, helvetica, sans-serif; font-size: 10px; font-weight: lighter; margin-top: 6px; text-align: center; width: 100%; " 
frame="box" rules="all"  summary="">
<td valign="top" align="center"><a href="http://mediacampus.cuaed.unam.mx/" target="_blank"><img src="http://www.educontinua.fciencias.unam.mx/SiteNuevo/imgs/OtrosLogos/MediaCampus.jpg" alt="Media Campus. Espacio para material educativo" title="Media Campus. Espacio para material educativo" /></a><br />Media Campus</td>
<td valign="top" align="center"><a href="http://www.descargacultura.unam.mx" target="_blank"><img src="http://www.educontinua.fciencias.unam.mx/SiteNuevo/imgs/OtrosLogos/DescargaCultura_foto.jpg" alt="Descarga Cultura. El podcast cultural de la Universidad" title="Descarga Cultura. El podcast cultural de la Universidad" height="58" /></a><br />Descarga Cultura</td>
<td valign="top" align="center"><a href="http://arquimedes.matem.unam.mx/PUEMAC/" target="_blank"><img src="http://www.educontinua.fciencias.unam.mx/SiteNuevo/imgs/OtrosLogos/PUEMAC_dodecaedro.jpg" alt="El Proyecto Universitario de Ense&ntilde;anza de las Matem&aacute;ticas Asistida por Computadora (PUEMAC)" title="El Proyecto Universitario de Ense&ntilde;anza de las Matem&aacute;ticas Asistida por Computadora (PUEMAC)" height="58" /></a><br />P.U.E.M.A.C.</td>
<td valign="top" align="center"><a href="http://reposital.cuaed.unam.mx:8080/jspui/" target="_blank"><img src="http://www.educontinua.fciencias.unam.mx/SiteNuevo/imgs/OtrosLogos/reposital.jpg" alt="Reposital, Material Educativo" title="Reposital, Material Educativo" height="58" /></a><br />Repositorio Digital Universitario<br />de Materiales Didácticos</td>
<td valign="top" align="center"><a href="http://www.patrimoniomundial.unam.mx/" target="_blank"><img src="http://www.educontinua.fciencias.unam.mx/SiteNuevo/imgs/OtrosLogos/campusCU.jpg" alt="Campus Central de CU, Patrimonio Cultural de la Humanidad" title="Campus Central de CU, Patrimonio Cultural de la Humanidad" height="58" /></a><br />Campus Central de CU, <br /> Patrimonio Cultural de la Humanidad</td>
<td valign="top" align="center"><a href="http://www.cuaed.unam.mx/english_media/" target="_blank"><img src="http://www.educontinua.fciencias.unam.mx/SiteNuevo/imgs/OtrosLogos/EnglishMedia.jpeg" alt="English Media. Unidades tem&aacute;ticas de Ingl&eacute;s" title="English Media. Unidades tem&aacute;ticas de Ingl&eacute;s" height="58" /></a><br />English Media.  <br />Unidades tem&aacute;ticas de Ingl&eacute;s</td>
</table>
 <br /> 



<!--

 <br />  <br />  <br />  <br />  <br />  <br /> 

<h4></h4>

<h3>Cursos de inter&eacute;s en otras facultades:</h3>

-->

                                </div>  <!-- class info-contenido_central -->
                                

                  <div class="info-contenido_derecho">
        
                         <h4></h4><h3>Actividades en curso:</h3>

                <marquee direction="up" scrollAmount="5" 
                style="background- text-align: center; 
                width:200px; height:200px; border:0px solid #000055; padding:3px"
                onMouseover="this.scrollAmount='0'" onMouseout="this.scrollAmount='4'">
                
                <table cellpadding="0" cellspacing="0">
        
                <tr> <td valign="top" style="padding-bottom: 20px;">
                
                <a href="http://www.educontinua.fciencias.unam.mx/SiteNuevo/Cursos/CEJA/DeryGestionAmb/2015/Intro.php">Diplomado en Derecho y Gesti&oacute;n Ambiental <br />Del 28 de agosto de 2015 al 23 de enero del 2016</a>
                </td> </tr>
                
                <tr> <td valign="top" style="padding-bottom: 20px;">
                
                <a href="http://www.educontinua.fciencias.unam.mx/SiteNuevo/Cursos/CEJA/DiplOrdenamEcolCEJA/2015/Intro.php">Diplomado en Ordenamiento Ecol&oacute;gico del Territorio e Impacto Ambiental <br />Del 22 de mayo al 18 de septiembre del 2015</a>
                </td> </tr>
                
                <tr> <td valign="top" style="padding-bottom: 20px;">
                
                <a href="http://www.educontinua.fciencias.unam.mx/SiteNuevo/Cursos/DiplSolvenciaII/2015/Intro.php">Diplomado en Solvencia II <br />Del 11 de abril del 2015 al 1ro. de febrero del 2016</a>
                </td> </tr>
                
                <tr> <td valign="top" style="padding-bottom: 20px;">
                
                <a href="http://www.educontinua.fciencias.unam.mx/SiteNuevo/Cursos/SIG/2015/Intro.php">Diplomado en Teledetección, Sistemas de información geográfica 
y Modelado Espacial aplicado a recursos naturales <br />Del 13 de febrero al 28 de agosto de 2015</a>
                </td> </tr>
                </table> </marquee>
                                                </div>   <!-- class info-contenido_derecho  -->

                                                
               </div>  <!-- class info-contenido -->
            </div>  <!-- class noticias -->
                <p>&nbsp;</p>
                <br />
         </div>  <!-- class info-contenido -->
      </div>  <!-- class info-estudiantes -->
   </div>  <!-- class contenido -->
<!-- termina contenido -->

<!-- pie banners y pie derechos-->


<div class="pie-banners">
<a href="http://www.unam.mx/telefonos-emergencia" target="_blank">
<img src="http://www.educontinua.fciencias.unam.mx/SiteNuevo/imgs/OtrosLogos/banner_telefonos.gif" alt="Tel&eacute;fonos y medidas de emergencia" title="Tel&eacute;fonos y medidas de emergencia" />
</a>
<a href="http://www.ddu.unam.mx" target="_blank">
<img src="http://www.educontinua.fciencias.unam.mx/SiteNuevo/imgs/OtrosLogos/banner_defensoria.gif" alt="Defensor&iacute;a de los derechos universitarios" title="Defensor&iacute;a de los derechos universitarios" />
</a>
</div>

<div class="pie-derechos">

<div>
Hecho en México, todos los derechos reservados 2010. Esta página puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica. De otra forma requiere permiso previo por escrito de la institución. <a href="#">Créditos</a>
</div>
<div class="administrado">Sitio web administrado por:<br />
 Secretaría de Educación Abierta y Continua de la Facultad de Ciencias-UNAM. <a href="mailto:educontinua.inf@ciencias.unam.mx">educontinua.inf@ciencias.unam.mx</a></div>

</div>


</div>
<!--termina contenedor-->

</body></html>